/* This sets the page to have no padding and margins by default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Garamond",serif;
}
/* This sets all links to look like normal text */
a {
    text-decoration: none;
    color: unset;
}
/* Setting up the main colors for my portfolio */
:root {
    --primary-color: #144013;
    --secondary-color: #2e4140;
    --tertiary-color: rgba(152, 180, 178, 0.6);
    --back-color: #e1e9ee;
    --clicked-color: lightgray;
}
body {
    background: var(--back-color);
}
/* HEADER SECTION */
header {
    background: var(--back-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0px;
    z-index: 9999;
    border-bottom: 1px solid var(--primary-color);
}
header h1 {
    margin-top: 10px;
    font-size: 36px;
    font-weight: 100;
}
header nav {
    padding: 10px 0;
    width: 100%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
header nav a {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    background: none;
    border-radius: 8px;
    transition: background 1s;
}
header nav a:active {
    background: var(--clicked-color);
}
header nav a:hover {
    background: var(--clicked-color);
}
/* GENERAL CONTENT SECTION */
/* This section is used to apply styles to all of the sections in this portfolio */
.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.section-container:not(:first-of-type) {
    margin-top: 5px;
}
    /* This span stlye was added so that the page navigation will stop early so that the 
    sticky header will not cover the section title reference: https://stackoverflow.com/questions/25201608/link-jump-to-id-100px */
.section-container span {
    position: absolute;
    top: -90px;
    visibility: hidden;
}
.section-title {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    width: 50%;
    text-align: center;
}
.section-title h2 {
    font-size: 24px;
    font-weight: 100;
}
.section-content {
    padding: 10px 20px;
    color: var(--secondary-color);
    width: 100%;
}
.section-content h3 {
    font-size: 20px;
    font-weight: 100;
}
/* ABOUT ME SECTION */
.section-content p {
    text-align: justify;
}
/* MY WORKS SECTION */
.works-display-wrapper {
    display: flex;
    justify-content: center;
}
.bc-works-display {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 25px);
    grid-gap: 5px;
    width: 100%;
}
.pers-works-display {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 25px);
    grid-gap: 5px;
    width: 100%;
}
.all-work{
    border: 1px solid var(--clicked-color);
    box-shadow: 2px 2px 3px lightgrey;
}
.all-work a {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.bc-primary-work {
    grid-row: 1 / span 6;
    grid-column: 1 / span 12;
}
.pers-primary-work {
    grid-row: 1 / span 4;
    grid-column: 1 / span 6;
}
.bc-other-work {
    grid-row: span 3;
    grid-column: span 4;
}
.pers-other-work {
    grid-row: span 2;
    grid-column: span 2;
}
.work-1 {
    background-image: url("../images/run-buddy.jpg");
    background-size: cover;
}
.work-2 {
    background-image: url("../images/code-refactor.jpg");
    background-size: cover;
}
.work-7 {
    background-image: url("../images/football.jpg");
    background-size: cover;
}
.work-8 {
    background-image: url("../images/amend.png");
    background-size: cover;
}
/* CONTACT ME SECTION */
.contact-list-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
.contact-list-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 1fr);
}
.contact-grid-item {
    padding: 9px;
    margin: 6px;
    border: 1px solid var(--clicked-color);
    background: white;
    box-shadow: 2px 2px 3px lightgrey;
}
.contact-grid-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin: 0 8px;
}
.contact-grid-item:hover {
    background: var(--clicked-color);
}
.contact-grid-item:active {
    background: var(--clicked-color);
}
.contact-grid-item img {
    height: 50px;
}